/* Estilos mínimos, luego los trabajamos mejor */
input {
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  